/* Start Global Code */
body {
  background-color:#EFEFEF;
  font-family:Tahoma, Arial;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar-track
{
  border: 5px solid #EFEFEF;
  background-color: #b2bec3;
}

::-webkit-scrollbar
{
  width: 15px;
  background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb
{
  background-color: #888;
  border-radius: 6px;
}


.head {color:#0A84C8;}

h1 {display: inline-block;}

a {text-decoration:none;color:#eee;}

a:hover {color:#eee;text-decoration:none;}

.clearfix {clear:both;}

/* End Global Code */

/* Start personal-img Code */

.all {
	background:#FFF;
  box-shadow: 1px 1px 3px 0px #ccc;
  border-radius: 5px;
}

.all .row {
  padding: 20px 15px;
	margin:0;
}

.leftside img {
	border:4px solid #DFDFDF;
	border-radius:3px;
  margin-bottom: .5rem;
}

.leftside a {
  color: #888;
  text-decoration: none;
  border: 4px solid #DFDFDF;
  padding: 5px;
  width: 270px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
	transition: .4s;
}

@media (max-width: 767px) {
  .leftside a {
    display: block;
    width: 100%;
  }

  .leftside, .rightside {
    margin: auto;
  }
}

@media (min-width: 768px) {
  .leftside a {
    display: block;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .leftside a {
    width: 100%;
    font-size:12px
  }
}

@media (min-width: 1200px) {
  .leftside a {
    width: 100%;
    font-size:15px
  }
}


.leftside a:hover {
  color: #DFDFDF;
  border: 4px solid #888;
}

.leftside a i {margin-right: 5px;}

/* End Personal-img Code */

/* Start personal-information Code */

.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.introduction h1 {
  font-size: 2rem;
}

.introduction .intitle {
	color:#777;
  display: block;
  margin-bottom: 1rem;
}

.rightside p {
  margin-bottom: 1rem;
  color: #444;
}

@media (max-width: 767px) {
  .rightside p {
    font-size: 14px;
  }
}

.rightside .details span {
  color: #888;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  padding: 0.75rem 0;
  width: 48%;
  padding-left: 0;
  padding-right: 0;
}

.rightside .details h4 {
  font-size: 15px;
  display: inline-block;
  width: 48%;
  text-align: left;
  word-break: break-all;
  padding-bottom: 0;
  margin-bottom: 0;
}

.rightside .details h4 a {
  color: #0062cc;
}

.rightside .socialbuttons {
  color: #888;
  text-transform: capitalize;
  font-weight: bold;
  display: block;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
}

.rightside h4 {
	font-size: 12px;
  display: inline-block;
  width: 180px;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.rightside ul li {
  display: inline-block;
	width:30px;
	height:30px;
	color:#555;
	margin-top:10px;
	border:1px solid #888;
	padding:20px;
	line-height:100%;
	position:relative;
	cursor:pointer;
}

.rightside ul li a {
	position: absolute;
	top: 5px;
  left: 6px;
	cursor:pointer;
}

.rightside ul li .fbi {
	position: absolute;
  top: 7px;
  left: 11px;
}

.rightside ul li .fa-facebook {color:#3b5999}
.rightside ul li .fa-twitter {color:#55acee}
.rightside ul li .fa-linkedin {
  color: #0077b5;
}
.rightside ul li .fa-yahoo {color:#410093}

/* END personal-information Code */

/* Start Skills Code */

.h1 {
  margin: 0 auto;
  color: #0184CE;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
	width:100%;
}

.skills .pro-skills {
	background-color:#FFF;
  padding: 35px 20px;
  box-shadow: 1px 1px 3px 0px #ccc;
	position:relative;
  border-radius: 4px;
}


.skills .pro-skills h4 {
  text-align: center;
  background-color: #0184CE;
  color: #FFF;
  margin-bottom: 0;
  position: absolute;
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  top: -5%;
  border-radius: 4px;
}

.skills .pro-skills p {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 15px;
  display: inline-block;
}

.skills .pro-skills .minititle h3 {text-align:left;}
.skills .pro-skills .minititle p {float:right;margin-top:2px;}
.skills .pro-skills h3 {
  font-size: 14px;
  text-align: right;
  margin-bottom: 0;
  line-height: 25px;
  display: inline-block;
}

.skills .pro-skills .htmlbar {
	background-color: #6f6f6f;
    width: 100%;
    height: 25px;
}

.skills .adi-skills {
	background-color:#FFF;
  padding: 50px 0px;
  box-shadow: 1px 1px 3px 0px #ccc;
  margin-bottom:50px;
  border-radius: 4px;
}


.skills .adi-skills .box {
	width:30.33333%;
	float:left;
	margin-left:1.5%;
	margin-right:1.5%;
	padding:0;
}

@media (max-width: 767px) {
  .skills .adi-skills .box {
    width:100%;
    margin:0 auto;
    margin:40px 0;
  }
}

.skills .adi-skills .box .chart {
	position:relative;
	width:110px;
	height:110px;
	margin:0 auto;
	text-align:center;
    font-size: 25px;
	line-height:110px;
}

.skills .adi-skills .box canvas {
	position:absolute;
	top:0;
	left:0;
}

.skills .adi-skills .box h2 {
	text-transform:uppercase;
	text-align:center;
	font-size:20px;
	padding-top: 30px;
	letter-spacing: 2px;
	color:#19182d;
	text-shadow: 1px 1px 3px #ccc;
}

.skills .education {
  background-color:#FFF;
  padding: 25px 30px;
  box-shadow: 1px 1px 3px 0px #ccc;
  border-radius: 4px;
}



/* END Skills Code */

/* Start Education Code */

.work .work-project {
	background:#FFF;
  box-shadow: 1px 1px 3px 0px #ccc;
	transition:.4s;
}

.work .work-project:hover {
	/* transform: scale(1.050,1.050); */
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.work .work-project .info {
	height: 150px;
  margin: 15px 15px;
  padding-bottom: 0;
  font-size: 14px;
  overflow: hidden;
}

.work .work-project .info p {
	margin:0;
	text-transform: capitalize;
}

.work .work-project h3 {
	margin: auto;
    background-color: #1a9be4;
    color: #FFF;
    padding: 15px 0px;
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.work .work-project a {
	color: #1a9be4;
    width: 100%;
    display: block;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 0;
	transition: .4s;
}

.work .work-project a:hover {
    color: #fff;
    text-decoration: underline;
    background: #1a9be4;
}

/* END Education Code */

/* Start footer Code */

.footer {
	background-color:#1a9be4;
	color:#fff;
	padding:8px 20px;
}

.footer h3 {
	font-size:20px;
	text-align:center;
}
.footer i {color:red;}

/* END footer Code */