@media (max-width: 767px) { /* Mobile Tablets */
	.all {
		width:96%;
		margin:auto;
	    margin-top: 20px;
	}
	
	.leftside .img-container img {
		display: block;
		margin: auto;
	}
	
	.leftside a {
		display: block;
	    width: 100%;
	}
	
	.leftside, .rightside {margin: auto;}
	
	.rightside h1 {
		font-size: 25px;
		width: 90%;
		float: left;
	    padding-top: 15px;
	}
	
	.rightside p {font-size: 14px;}
	
	.skills .pro-skills {
		float: none;
		margin: auto;
		width:100%;
		margin-bottom:50px;
	}
	
	.skills .pro-skills h4 {
		left: 0%;
	    top: -2.7%;
	}
	
	.skills .adi-skills {
		width:100%;
		margin-bottom:50px;
	}
	
	.skills .adi-skills .box {
		width:100%;
		margin:0 auto;
		margin:40px 0;
	}
	
	.work .Work-project {
		width:97%;
		margin-right:1.5%;
		margin-left:1.5%;
	}

}

@media (min-width: 768px) { /* Small Screen */

	.all {width:70%;}
	.leftside {margin: auto;}
	.leftside a {display: block;width: 100%;}
	.rightside h1 {font-size: 35px;}
	.skills .pro-skills {
		float: none;
		margin: auto;
		width:100%;
		margin-bottom:50px;
	}
	
	.skills .pro-skills h4 {left: 30%;}
	.skills .adi-skills {
		float: none;
		margin: auto;
		width:100%;
		margin-bottom:50px;
	}

	.work .Work-project {
		width:47%;
		margin-right:1.5%;
		margin-left:1.5%;
	}
}

@media (min-width: 992px) { /* Medium Screen */

	.all {width:900px;}
	.leftside {
		width: 200px;
		margin:0;
	    width: 20.5%;
		margin-right: 2%;
	}
	.leftside a {
		width: 100%;
		font-size:12px
	}
	
	.rightside {width:77%;}
	.rightside h1 {font-size:30px;}
	.skills, .work {width:900px}
	.skills .pro-skills {
		float: left;
		margin: auto;
		width:35%;
		margin-bottom:0px;
	}
	
	.skills .pro-skills h4 {left: 18%;}
	.skills .adi-skills {
		float: right;
		margin: auto;
		width:62%;
		margin-bottom:50px;
	}
	
	.work .Work-project {
		width: 47%;
		margin-right:1.5%;
		margin-left:1.5%;
	}
	
}


@media (min-width: 1200px) { /* Large Screen */

	.all {width:70%;}
	.leftside {
		width: 300px;
		margin:0;
		width: 28%;
		margin-right: 2%;
	}
	.leftside a {
		width: 100%;
		font-size:15px
	}
	
	.rightside {		width: 62%;		margin: 20px 4%;	}
	.skills, .work {width:70%}
	.skills .pro-skills h4 {left: 26%;}
	.skills, .work {width:70%;}
	.work .Work-project {
		width:30.3333%;
		margin-right:1.5%;
		margin-left:1.5%;
	}
	
}

