@media (max-width: 767px) { /* Mobile Tablets */

	.navbar-nav .nav-item {text-align:center;}
	.carol .layout h1 {font-size: 25px;width: 90%;}
	.about h1 {font-size: 25px;}
	.about p {width: 90%;}
	.about .card-info {
		width: 90%;
		display: block;
	    margin: 60px auto;
		float:none;
	}
	
	.cert .cert-card {
	    width: 90%;
		float:none;
		margin: 40px auto;
	}
	
	.our-services p {width:90%;}
	.our-services .serv-card {
		width:48%;
		min-height: 200px;
		margin-bottom: 20px;
	}
	
	.carol2 .layout h1, .carol2 .layout p {
		width: 90%;
		font-size: 15px;
	    margin: 30% auto;
	}
	
	.our-branches .branch-card {
	    width: 90%;
		float: none;
		margin: 30px auto;
	    height: auto;
	}
	
	.our-branches .branch-card h2 {font-size: 15px;}
	.our-branches .branch-card img {margin: 20px 15px;}
	.layout-contact .contact h2 {width:90%;}
	.layout-contact .contact input, .layout-contact .contact input.last {width:100%;}
	

}

@media (min-width: 768px) { /* Small Screen */


	.navbar-nav .nav-item {text-align:center;padding:10px 5px;}
	.carol .layout h1 {width:90%;}
	.about .overlay-about {padding-bottom: 60px;}
	.about .card-info {width: 48%;margin: 60px 1% 5px 1%;}
	.cert .cert-card {width: 48%;margin: 20px 1%;}
	.our-services p {width:100%;}
	.our-services .serv-card {min-height:150px;}
	.carol2 .layout h1, .carol2 .layout p {width:90%;}
	.our-branches .branch-card {min-height:450px;}
	.layout-contact .contact h2 {width:100%;}
	.layout-contact .contact input, .layout-contact .contact input.last {width:100%;}

}

@media (min-width: 992px) { /* Medium Screen */

	.navbar-nav {margin-left: 100px;}

}

@media (min-width: 1200px) { /* Large Screen */

	.navbar-nav {margin-left: 265px;}
	.about .card-info {width: 31.3333333%;}
	.cert .cert-card {width: 29.333333%;margin: 20px 2%;}
	.our-services p {width:80%;}
	.our-services .serv-card {min-height: 0;}	
	.carol2 .layout h1, .carol2 .layout p {width: 80%;}
	.our-branches .branch-card {min-height: 0;}
	.layout-contact .contact h2 {width: 80%;}
	.layout-contact .contact input {width: 30%;}
	.layout-contact .contact input.last {width: 96.7%;}

}

