.clearfix {clear:both;}
.container {height:inherit;}

/*	Start navbar */

.navbar {
	background-color:#fff;
	height: 80px;
	border-bottom:1px solid #ccc;
	}

.nav-item {text-transform:capitalize;}

.header a {
	color: #000;
	padding: 0;
}

.navbar h2 {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 80px;
	cursor:pointer;
}

.navbar-collapse {
    text-align:center;
}

.navbar-toggler {
	float:right;
	display:none;
}

.navbar-nav {
	margin-left: 20%;
}

.navbar ul li {
	padding: 0 5px;
}

.navbar ul li a {
	text-decoration:none;
	color:#ccc;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
}

.navbar ul li a:hover {
	color:#aaa;
}

.navbar .login-button {
    color: #0F81F8 !important;
    border: 1px solid #0F81F8;
    padding: 6px 35px !important;
	border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
	display: inline-block;
	line-height: 1.5;
}

.navbar .login-button:hover {
    background-color: #0F81F8;
    color:#fff !important;
}

/*	END Header */

/*	Start carousel */

.carousel {
	width:100%;
	background-color:#0F81F8;
	color:#fff;
	height:calc(100vh - 80px);
}

.carousel img {
	width: 45%;
    position:relative;
	top:25%;
}

.carousel .right-side {
	width: 50%;
	float:right;
	margin-top: 15%;
}

.carousel .right-side h2 {
	font-size:30px;
	font-weight:bold;
	margin-bottom:30px;
	letter-spacing:1px;
	
}

.carousel .right-side p {
	font-size:15px;
	font-weight:normal;
	letter-spacing:1px;
}

/*	Start carousel */

/*	Start desc */

.desc {
	width:100%;
	background-color:#fff;
	color:#aaa;
	height:200px;
	margin:80px 0;
}

.desc h2 {
	text-align:center;
	color:#000;
	font-weight:bold;
	margin-bottom:30px;
}

.desc p {
	text-align:center;
	color:#aaa;
	font-size:18px;
}

/*	END desc */

/*	Start how-works */

.how-works {
	width:100%;
	background-color:#0F81F8;
	color:#fff;
	height:auto;
	padding:60px 0;
}

.how-works h1 {
	color:#fff;
	text-align:center;
	font-weight:bold;
	font-size:40px;
	margin-bottom:60px;
}

.how-works .sort {
    padding: 40px 20px;
	width:30%;
	background-color:#fff;
	color:#aaa;
	border-radius:10px;
	float:left;
	margin:0 18px;
	height:350px;
	
    -webkit-box-shadow: 5px 6px 10px 0px #28282847;
    -moz-box-shadow: 5px 6px 10px 0px #28282847;
    box-shadow: 5px 6px 10px 0px #28282847;
    margin-bottom: 50px;
}

.how-works .sort h2 {
	color:#aaa;
	text-align:center;
	font-size:15px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:30px;
	font-weight:bold;
}

.how-works .sort i {
	color:#0F81F8;
	display:block;
	text-align:center;
	font-size:80px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom: 50px;
}

.how-works .sort p {
	text-align:center;
	font-size:15px;
	letter-spacing:1px;
	font-weight:normal;
	color:#787878;
	margin-bottom:0;
}

.how-works a {
	color: #fff;
    border: 2px solid #fff;
    padding: 12px 35px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
	display:block;
	width:350px;
	text-align:center;
	margin:0 auto;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.how-works a:hover {
	color: #0F81F8;
    border: 2px solid #0F81F8;
	background-color:#fff;
}

/*	END how-works */

/*	Start price */

.price {
	width:100%;
	background-color:#fff;
	color:#000;
	padding:80px 0;
	height: 750px;
}

.price h1 {
	color:#000;
	text-align:center;
	font-weight:bold;
    font-size: 40px;
    margin: 30px 0;
}

.price .sort {
    width: 30%;
    padding: 50px 20px;
    margin: 30px 2%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 10px;

	-webkit-box-shadow: 5px 6px 10px 0px #28282847;
    -moz-box-shadow: 5px 6px 10px 0px #28282847;
    box-shadow: 5px 6px 10px 0px #28282847;
}

.price .sort:first-of-type {
    margin-left:15%;
}

.price .sort:last-child {
    margin-right:15%;
}

.price .sort h2,
.price .sort p {
	text-align:center;
}

.price .sort h2 {
	font-size: 18px;
    color: #999999;
    letter-spacing: 1px;
	text-transform:uppercase;
	font-weight:bold;

}

.price .sort h1 {
	color:#0F81F8;
	text-align:center;
	font-weight:bold;
    font-size: 50px;
}

.price .sort a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #0F81F8;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 0;
    width: 200px;
    font-weight: bold;
    border: 2px solid #0F81F8;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
	margin-top:50px;
	-webkit-transition:.5s;
	-moz-transition:.5s;
	transition:.5s;
}

.price .sort a:hover {
	background-color:#0F81F8;
    color: #fff;
}

/*	END price */

/*	Start FAQ */

.faq {
	background-color:#ECF1F4;
	color:#000;
	width:100%;
    height: auto;
    padding: 40px 0;

}

.faq h1 {
	text-align:center;
	margin:40px 0;
	text-transform:uppercase;
    font-weight: bold;
    font-size: 40px;
}

.faq button {
	background: transparent;
    color: #000;
    border: none;
    font-weight: bold;
}

.faq button:hover {
	background: transparent;
    color: #000;
	border:none;
}

.faq button:focus {
	box-shadow:none;
	border:none;
}

/*	END FAQ */

/*	Start contact */

.contact {
	margin:80px 0;
	text-align:center;
}

.contact h1 {
	font-weight:bold;
	text-transform:capitalize;
	font-size:50px;
    margin-bottom: 50px;
}

.contact .first-part {
	margin-bottom:10px;
}

.contact input {
	height:40px;
	background-color:#ccc;
	border:none;
    padding: 25px 20px;
    width: 248px;
}

.contact input[type="text"]:last-child {
	width:500px;
	height:200px;
}

.contact input[type="text"]:last-of-type::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	position: relative;
    top: -75px;
    transition: 0.2s ease-out;
}
.contact input[type="text"]:last-of-type::-moz-placeholder { /* Firefox 19+ */
	position: relative;
    top: -75px; 
    transition: 0.2s ease-out;
}
.contact input[type="text"]:last-of-type:-ms-input-placeholder { /* IE 10+ */
	position: relative;
    top: -75px; 
    transition: 0.2s ease-out;
}
.contact input[type="text"]:last-of-type:-moz-placeholder { /* Firefox 18- */
	position: relative;
    top: -75px; 
    transition: 0.2s ease-out;
}

.contact a {
	text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #0F81F8;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 0;
    width: 200px;
    font-weight: bold;
    border: 2px solid #0F81F8;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
	margin-top:50px;
	-webkit-transition:.5s;
	-moz-transition:.5s;
	transition:.5s;
}

.contact a:hover {
    color: #fff;
	background-color:#0F81F8;
}

/*	END contact */

/*	Start login-split-page */

.login-split {
	width:100%;
	height:auto;
	background-color:white;
}

.login-split .left {
    width: 50%;
    height: calc(100vh - 140px);
    background-color: #0F81F8;
    float: left;
}

.login-split .left .cont-center {
	margin:0 auto;
	width: 50%;
	margin: 60px 25%;
}

.login-split .left h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
}

.login-split .left .my-price-card {
	padding:60px 0;
	background-color:#fff;
	border-radius:10px;
	text-align:center;
	margin:25px auto;
    width: 100%;
}

.login-split .left .my-price-card h2 {
	font-size: 16px;
    color: #999999;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.login-split .left .my-price-card h1 {
	color: #0F81F8;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 2px;
}

.login-split .left a {
	color:#fff;
}

.login-split .left p {
	text-align:center;
}

.login-split .right {
	width:50%;
	height:inherit;
	background-color:#fff;
	float: right;
	margin: 60px 0%;
}

.login-split .right .inputs-container {
	width: 80%;
    display: block;
    margin: auto;
}

.login-split .right h2 {
	font-size:28px;
    margin-bottom: 20px;
	font-weight:bold;
	letter-spacing:0.5px;
}

.login-split .right p {
	font-size:12px;
	font-weight:normal;
	letter-spacing:1px;
	text-transform:capitalize;
	margin: 0;
    width: 100%;
    display: inline-block;
}

.login-split .right input {
	height:30px;
	margin:8px 0;
    border: 1px solid #b7b7b7;
}

.login-split .right .min-width {
	width: 100%;
	margin:0;
}

.login-split .right .left-input {
    overflow: hidden;
    display: inline-block;
    width: 48%;
    height: 60px;
    margin-right: 2%;
}

.login-split .right .right-input {
    overflow: hidden;
    display: inline-block;
    width: 48%;
    height: 60px;
}

.login-split .right .wide-input {
    width: 100%;
}

.login-split .right input[type="submit"] {
	float: right;
    width: 150px;
    height: 40px;
    background: transparent;
    color: #0F81F8;
    border: 2px solid #0F81F8;
    border-radius: 30px;
    font-weight: bold;
    line-height: 0px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    cursor: pointer;
	margin-top:30px;
}

.login-split .right input[type="submit"]:hover {
	background-color:#0F81F8;
	color: #FFF;
}

/*	END login-split-page */

/*	Start footer */

.footer {
	width:100%;
	color:#fff;
	background-color:#002157;
	height:60px;
}

.footer a {
	text-decoration:none;
	color:#fff;
	float:left;
	line-height:60px;
	font-size:15px;
	text-transform:uppercase;
	font-weight:bold;
	padding:0 10px;
	letter-spacing:1px;
}

.footer h3 {
	color:#fff;
	float:right;
	line-height:60px;
	font-size:15px;
	text-transform:capitalize;
	margin:0;
}

/*	END footer */

