@media (max-width: 767px) { /* Mobile Tablets */
	
	.navbar {height:auto;}
	.navbar-nav {margin:0;}
	.nav-link {padding: 15px 0;}
	.navbar-toggler {
		display:block;
		cursor: pointer;
	    margin: 20px 0;
	}

	.carousel {height: auto;}
	.carousel img {
		width: 100%;
		margin-top: 25%;
	}
	.carousel .right-side {
		width: 100%;
		margin-top: 20%;
	}
	
	.carousel .right-side h2 {font-size:25px;}
	.desc {height:auto;}
	.how-works .container {width:100%;}
	
	.how-works .sort {
		width: 95%;
		margin: 10% auto;
		display: block;
		float: none;
	}

	.how-works a {width:80%}

	.price {
		height: auto;
	}
	
	.price .sort {
		width: 100%;
		margin: 5% 1% !important;
		display: inline-block;
		float: none;
	}

	/* in login page Screen */
	.login-split .left {width: 100%;height: auto;}
	.login-split .right {width: 100%;}
	.login-split .left .cont-center {
		width: 70%;
    	margin: 60px 15%;
	}
	.login-split .right .inputs-container {width:50%;}
	.login-split .right .left-input {width: 100%;}
	.login-split .right .right-input {width: 100%;}
	/* end in login page Screen */

	.contact input[type="text"]:last-child {
		width: 85%;
	}

	.footer {height:auto;}
	
	.footer a {
		width: 50%;
		text-align: center;
	}
	.footer h3 {
		width: 100%;
		float:none;
		text-align:center;
	}

}

@media (min-width: 768px) { /* Small Screen */
	
	.navbar {height:auto;}
	.navbar-toggler {
		display:block;
		cursor: pointer;
	    margin: 20px 0;
	}
	
	.navbar-nav {margin-left: 0%;}
	.navbar ul li {padding: 0px 5px;}
	.carousel .right-side h2 {font-size:25px;}
	
	.how-works .sort {
		height:auto;
		width: 46%;
		margin: 2% 2%;
	}
	
	.how-works a {margin-top:50px;}
	.price .sort:first-of-type {margin:0;}
	
	.price .sort {
		width:46%;
		margin: 2% 2% !important;
	}
	

	/* in login page Screen */
	.login-split .left {width: 100%;height: auto;}
	.login-split .right {width: 100%;}
	.login-split .right .inputs-container {width:50%;}
	/* end in login page Screen */
	
}

@media (min-width: 992px) { /* Medium Screen */

	.navbar {height:80px;}
	.navbar-nav {margin-left: 4%;}
	.carousel .right-side h2 {font-size:30px;}

	/* in login page Screen */
	.login-split .left {width: 50%;}
	.login-split .right {width: 50%;}
	.login-split .right .inputs-container {width: 55%;}
	/* end in login page Screen */

}


@media (min-width: 1200px) { /* Large Screen */

	.navbar {height:80px;}
	.navbar-nav {margin-left: 20%;}
	.carousel .right-side h2 {font-size:30px;}

	.how-works .sort {
		width: 29%;
		margin: 2% 2% !important;
	}

	/* in login page Screen */
	.login-split .left {
		width: 50%;
		height: calc(100vh - 140px);
	}
	.login-split .right {width: 50%;}
	.login-split .right .inputs-container {width: 55%;}
	/* end in login page Screen */

	
}

