<div class="education">
  <h3>Education</h3>
  <ul>
    @for (item of education.items; track item) {
      <li class="mb-2"><strong>{{ item }}</strong></li>
    }
  </ul>
  <h3>Courses</h3>
  <ul>
    @for (course of courses; track course.title) {
      <li class="mb-2">
        <p class="mb-0">
          <strong>{{ course.title }}</strong>
          @if (course.description) {
            - {{ course.description }}
          }
          @if (course.certificationUrl) {
            <a [href]="course.certificationUrl" target="_blank" rel="noopener noreferrer">Certification</a>
          }
        </p>
      </li>
    }
  </ul>
</div>
